/* feuille de style CV_DUCHER_FRED */


/* Police */
.page
{
	font-family: 'Roboto', sans-serif;
	max-width: 980px;
	margin:auto;
}

/* Style Header */
.page__mainhead
{
	display:grid;
	grid-template-columns: 33% 66%;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
.page__mainhead__photo
{
	grid-column: 1 / 2;
	grid-row: 1;
	background-color: #FDD835;
}
.page__mainhead__title
{
	grid-column: 2 / 3;
	grid-row: 1;
}
/* Corp de page */
.page__corpse
{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
.page__corpse__leftside
{
	grid-column: 1 / 2;
	background-color: #FDD835;
}